.account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.account-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

.account-item {
    width: 20%;
    padding: 0 8px;
    margin-bottom: 16px;
}

.account-item:hover .card-image img {
    transform: scale(1.1);
}

.price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.price .price_current {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.price .price_old {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--text-link);
    text-decoration: line-through;
}

.discount {
    background-color: var(--secondary-color);
    border-radius: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 0 8px;
}

/* Chi Tiết Account */
.section-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.section-content-left {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    width: 100%;
    padding-right: 8px;
}

.section-content-right {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    width: 100%;
    padding-left: 8px;
}

.section-content-right .card-body {
    padding: 16px;
}

.section-title {
    color: var(--text-title-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
}

.scroll-default {
    max-height: 132px;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 0 0 100%;
    max-width: 100%;
}

.scroll-default::-webkit-scrollbar {
    width: 8px;
    border: none;
}

.scroll-default::-webkit-scrollbar-thumb {
    background: #BCBFD6;
    border-radius: 100px;
    border: none;
    margin-left: 20px;
    height: 20px;
}

.scroll-default::-webkit-scrollbar-track {
    position: absolute;
    top: 100px;
    left: -60px;
    background-color: #ffffff;
    border: none;
}

.scroll-default tbody tr:nth-child(odd) {
    background: #FFFFFF;
}

.scroll-default tbody tr:nth-child(even) {
    background: var(--w-ghost-hover-color);
}

.scroll-default .table td:first-child {
    text-align: left;
}

.scroll-default .table td:last-child {
    text-align: right;
}

.card.disabled_color {
    all: unset;
    display: block;
    background: var(--input-background-color);
    border-radius: 8px;
    padding: 16px;
}

.flex .price_old {
    color: var(--text-link);
    text-decoration: line-through;
}

.flex .price_current {
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    color: var(--secondary-color);
}

.flex .discount {
    padding: 0 8px;
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 12px;
    line-height: 16px;
    border-radius: 16px;
}

.relate-swiper-wrapper {
    position: relative;
    padding: 0 56px;
}

/* .section-relate-accounts .swiper-slide{
    margin-right: 16px;
    width: 233.7px !important;

} */
/* End Chi Tiết Account */

/* Mobile & Tablet */
@media only screen and (max-width: 1023px) {

    .account-section .account-header,
    .account-section hr {
        display: none;
    }

    .account-item {
        width: 50%;
    }

}

/* End Mobile & Tablet */