/* Header */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: var(--background-color);
}

.header-top {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 140px;
}

.header-menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-menu-item {
    display: flex;
    align-items: center;
}

.header-menu-icon {
    background-color: var(--input-background-color);
    width: 40px;
    height: 40px;
    margin-right: 8px;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}

.header-menu-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
}

.header-menu-link {
    color: var(--text-color);
    font-weight: 700;
}

.search-form {
    width: 400px;
    position: relative;
    display: flex;
    align-items: center;
}

input[type=search] {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 4px 10px 12px;
    background-color: var(--input-background-color);
    border-radius: 8px;
    border: none;
    width: 100%;
    color: var(--text-heading-color);
}

input[type=search]::placeholder {
    color: var(--primary-color);
}

input[type=search]:focus {
    outline: none;
    color: var(--text-heading-color);
    border: 1px solid var(--primary-color);
    padding: 9px 3px 9px 11px;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: url(../svg/search-cancel.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

input[type=search]:focus::-webkit-search-cancel-button {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
}

input[type=search].search-form-input {
    padding-right: 44px;
}

input[type=search].search-form-input:focus {
    padding-right: 43px;
}

input[type=search].search-form-input~button[type=submit] {
    background-color: var(--primary-color);
    position: absolute;
    padding: 16px;
    border-radius: 8px;
    outline: none;
    right: 4px;
    border: none;
}

input[type=search].search-form-input~button[type=submit]:hover {
    background-color: var(--primary-color-hover);
}

input[type=search].search-form-input~button[type=submit]:active {
    background-color: var(--primary-color-focus);
}

input[type=search].search-form-input~button[type=submit]:before {
    content: '';
    background-color: white;
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-mask-image: url(../svg/icon-search.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-actions-recharge {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.notification-count {
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    background: var(--invalid-color);
    color: white;
    border-radius: 100%;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    padding: 0 5px;
}

.header-bot {
    background: var(--background-color);
    box-shadow: 0 2px #e0e7ff;
}

.header-bot .container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bot span {
    color: var(--text-color);
}

.header-bot-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    white-space: nowrap;
}

.header-bot-item:hover {
    transition: .2s;
    background: var(--input-hover);
}

/* End Header */

/* Footer */
.footer {
    margin-top: 30px;
    width: 100%;
}

.footer-top {
    background-color: hsl(250.0000 100% 97.6471%);
}

.footer-top-container {
    padding: 20px 0 30px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-title {
    color: var(--text-heading-color);
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer-social a:first-child {
    margin-left: 0;
}

.footer-social a:last-child {
    margin-right: 0;
}

.footer-info {
    margin-top: 10px;
    color: var(--text-color);
}

.footer-bot {
    color: var(--text-heading-color);
    background-color: none;
    text-align: center;
    padding: 10px 0;
}

/* End Footer */