:root {
    --background: #ffffff;
    --primary-color: #0E3EDA;
    --primary-hover-color: #0B2FA6;
    --primary-focus-color: #082480;
    --secondary-color: #f473b9;
    --secondary-hover-color: #CC609B;
    --secondary-focus-color: #A64E7D;
    --text-title-color: #1B1D29;
    --text-color: #434657;
    --text-link: #82869e;
    --input-background-color: #f3f3f7;
    --w-ghost-hover-color: #F8F8FC;
    --switch-color: #E8EBF9;
    --border-color: #e4e5f0;
    --border-hover-color: #A7ABC3;
    --error-color: #da4343;
    --filter-text-color: invert(25%) sepia(17%) saturate(560%) hue-rotate(194deg) brightness(97%) contrast(90%);
    --filter-primary-color: invert(22%) sepia(98%) saturate(2861%) hue-rotate(225deg) brightness(81%) contrast(115%);
    --button-disable-color: #DCDEE9;



    --bgShadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    --bgHoverColor: #f8f8fc;
    --text-blur: #a7abc3;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--background);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    /* user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
}

.background-history {
    background: #F5F5F5;
}

.container {
    margin: auto;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    /* padding-left: 0;
    list-style: none;
    border-radius: 4px; */
}

.page-item .page-link {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 8px 0px;
    margin: 0px 4px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: var(--text-color);
    outline: none;
    box-shadow: none;
}

.page-item .page-link:hover {
    border-color: var(--border-hover-color);
}

.page-item.active .page-link,
.page-item:active:not(.disabled) .page-link {
    background-color: var(--text-color);
    color: #fff;
    border: 1px solid var(--text-color);
}

.page-item.disabled span.page-link {
    border: none;
}

.page-item.pre-2 .page-link,
.page-item.next-2 .page-link,
.page-item.pre-1 .page-link,
.page-item.next-1 .page-link {
    position: relative;
}

.page-item.pre-2 .page-link::before,
.page-item.pre-1 .page-link::before,
.page-item.next-1 .page-link::before,
.page-item.next-2 .page-link::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-item.pre-2 .page-link::before {
    background-image: url(../svg/pagination-pre-2.svg);
}

.page-item.pre-1 .page-link::before {
    background-image: url(../svg/pagination-pre-1.svg);
}

.page-item.next-1 .page-link::before {
    background-image: url(../svg/pagination-next-1.svg);
}

.page-item.next-2 .page-link::before {
    background-image: url(../svg/pagination-next-2.svg);
}

.page-item.disabled.pre-2 .page-link,
.page-item.disabled.pre-1 .page-link,
.page-item.disabled.next-1 .page-link,
.page-item.disabled.next-2 .page-link {
    background-color: var(--button-disable-color);
}

/* End Pagination */

/* Error Message */
.form-message {
    margin-top: 4px;
    color: var(--error-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.input-error {
    border-color: var(--error-color) !important;
}

hr {
    border-top: 1px solid var(--border-color) !important;
    border: none;
}

/* End Error Message */

/* Button */
.btn {
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    box-sizing: border-box;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    flex-direction: column;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    outline: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: var(--primary-color);
    color: #fff;
}

.btn:hover {
    background-color: var(--primary-hover-color);
}

.btn:active {
    background-color: var(--primary-focus-color);
}

/* End Button */

/* Breadcrumb */
.breadcrumb-list {
    padding: 8px 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.breadcrumb-list .breadcrumb-item {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.breadcrumb-list .breadcrumb-item .breadcrumb-link {
    color: var(--text-link);
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    transition: color ease 0.15s;
}

.breadcrumb-list .breadcrumb-item .breadcrumb-link:hover {
    color: var(--text-title-color);
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "";
    width: 1rem;
    height: 1rem;
    background-image: url(../svg/breadcrumb.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* End Breadcrumb */

/* Input */
input[type="text"],
input[type="password"],
input[type="email"],
select {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    color: var(--text-color);
    line-height: 20px;
    background: #ffffff;
    border: 1px solid var(--border-color);
    padding: 10px 12px;
    border-radius: 8px;
    height: 40px;
    outline: none;
    transition: border-color ease 0.15s;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type=search]::placeholder {
    color: var(--text-link);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border: 1px solid var(--primary-color) !important;
}

select {
    text-indent: 1px;
    text-overflow: "";
}

/* End Input */

/* Card */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

.card {
    border: 1px solid var(--border-color);
    box-shadow: var(--bgShadow);
    border-radius: 12px;
}

.card-header:first-child {
    background-color: #fff;
    border-bottom: 1px solid var(--border-color);
    border-radius: 12px 12px 0 0;
    padding: 16px;
}

.card-header h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: var(--text-title-color);
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
}

.card-hover {
    top: 0;
}

.card-hover:hover {
    box-shadow: 0 3.4623px 6.1418px rgba(0, 0, 0, 0.05),
        0 7.92923px 12.9218px rgba(0, 0, 0, 0.05), 0 9px 15px rgba(0, 0, 0, 0.08) !important;
    top: -4px;
    transition: all 0.2s ease-out;
}

.card-image {
    position: relative;
    padding-bottom: 60%;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 8px;
}

.card-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform linear 0.3s;
}

/* End Card */

/* Text */
.text-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.limit-1 {
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.text-title {
    color: var(--text-color);
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

.info-attr {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--text-link);
}

.section-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* display: flex;
    align-items: center; */
}

/* End Text */


/* Swiper */
.button-prev,
.button-next {
    position: absolute;
    top: 48%;
    width: 40px;
    height: 40px;
    background-color: rgba(220, 222, 233, 0.5);
    background-image: url(../svg/navigation-swiper.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 100% 100% 0;
    cursor: pointer;
    z-index: 10;
}

.button-prev {
    left: 0;
}

.button-next {
    right: 0;
    transform: rotate(-180deg);
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #FFFFFF;
    opacity: 1;
    transition: .2s;
    border: none;
}

.swiper-pagination-bullet-active {
    background: var(--primary-color);
    width: 16px;
    height: 8px;
    border-radius: 100px;
    transition: .2s;
}

/* End Swiper */

.header-mobile {
    display: none;
}

/* Mobile & Tablet */
@media only screen and (max-width: 1023px) {

    /* Text */
    .text-limit {}

    .text-title {
        font-size: 13px;
        line-height: 20px;
    }

    .info-attr {
        font-size: 12px;
        line-height: 16px;
    }

    .section-title {}

    /* End Text */

    /* End Header Mobile */
    body.hide-header-footer .header,
    body.hide-header-footer .footer,
    body.hide-header-footer .mobi-search {
        display: none !important;
    }

    body.hide-header-footer .container {
        margin-bottom: 100px;
    }

    .header-mobile {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 56px;
        background-color: #fff;
        box-shadow: 0 2px rgb(0, 0, 0, 0.05);
        z-index: 1000;
    }

    .header-mobile-back {
        display: block;
        position: absolute;
        background-image: url(../svg/head-mobile-back.svg);
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: center;
        width: 24px;
        height: 24px;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
    }

    .header-mobile-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        color: var(--text-color);
    }

    .header-mobile-view {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 30px;
        height: 30px;
    }

    /* End Header Mobile */

    .breadcrumb-list {
        display: none;
    }

    .button-prev,
    .button-next {
        display: none;
    }
}

/* End Mobile & Tablet */

/* Mobile */
@media only screen and (max-width: 739px) {}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .container {
        max-width: 720px;
    }
}

/* PC Low, Ipad Pro */
@media (min-width: 1024px) and (max-width: 1239px) {
    .container {
        max-width: 960px;
    }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    .c-container {
        max-width: 1264px;
    }

    .c-container-side {
        max-width: 1024px;
    }
}