:root {
    --background: #ffffff;
    --primary-color: #0E3EDA;
    --primary-hover-color: #0B2FA6;
    --primary-focus-color: #082480;
    --title-color: #1B1D29;
    --text-color: #434657;
    --text-link: #82869e;
    --input-background-color: #f3f3f7;
    --switch-color: #E8EBF9;
    --border-color: #e4e5f0;
    --error-color: #da4343;
    --secondary-color: #f473b9;
    --secondary-hover-color: #CC609B;
    --secondary-focus-color: #A64E7D;
    --filter-text-color: invert(25%) sepia(17%) saturate(560%) hue-rotate(194deg) brightness(97%) contrast(90%);
    --filter-primary-color: invert(22%) sepia(98%) saturate(2861%) hue-rotate(225deg) brightness(81%) contrast(115%);




    --bgShadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    --bgHoverColor: #f8f8fc;
    --text-blur: #a7abc3;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--background);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container {
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1264px;
}

/* Error Message */
.form-message {
    margin-top: 4px;
    color: var(--error-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.input-error {
    border-color: var(--error-color) !important;
}

hr {
    border-top: 1px solid var(--border-color) !important;
    border: none;
}

/* End Error Message */

/* Button */
.btn {
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    box-sizing: border-box;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    flex-direction: column;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    outline: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: var(--primary-color);
    color: #fff;
}

.btn:hover {
    background-color: var(--primary-hover-color);
}

.btn:active {
    background-color: var(--primary-focus-color);
}

/* End Button */

/* Breadcrumb */
.breadcrumb-list {
    padding: 8px 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.breadcrumb-list .breadcrumb-item {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.breadcrumb-list .breadcrumb-item .breadcrumb-link {
    color: var(--text-link);
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    transition: color ease 0.15s;
}

.breadcrumb-list .breadcrumb-item .breadcrumb-link:hover {
    color: var(--title-color);
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "";
    width: 1rem;
    height: 1rem;
    background-image: url(../svg/breadcrumb.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* End Breadcrumb */

/* Input */
input[type="text"],
input[type="password"],
input[type="email"],
select {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    color: var(--text-color);
    line-height: 20px;
    background: #ffffff;
    border: 1px solid var(--border-color);
    padding: 10px 12px;
    border-radius: 8px;
    height: 40px;
    outline: none;
    transition: border-color ease 0.15s;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type=search]::placeholder {
    color: var(--text-link);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border: 1px solid var(--primary-color) !important;
}

select {
    text-indent: 1px;
    text-overflow: "";
}

/* End Input */

/* Card */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid var(--border-color);
    box-shadow: var(--bgShadow);
    border-radius: 12px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
}

.card-hover {
    top: 0;
}

.card-hover:hover {
    box-shadow: 0 3.4623px 6.1418px rgba(0, 0, 0, 0.05),
        0 7.92923px 12.9218px rgba(0, 0, 0, 0.05), 0 9px 15px rgba(0, 0, 0, 0.08) !important;
    top: -4px;
    transition: all 0.2s ease-out;
}

/* End Card */

/* Text */
.text-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

/* End Text */